* {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Hind', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
  }
  
  .music-container {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.5); 
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin: 100px;
    z-index: 10;
  }
  
  .img-container {
    position: relative;
    width: 100px;
  }
  
  .img-container::after {
    content: '';
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, 50%);
  }
  
  .img-container img {
    border-radius: 50%;
    object-fit: cover;
    height: 110px;
    width: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: rotate 3s linear infinite;
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .action-btn {
    background-color: white;
    border: 0;
    color: #ccc;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
  }
  
  .action-btn.action-btn-big {
    color: #ccc;
    font-size: 30px;
  }
  
  .action-btn:focus {
    outline: 0;
  }
  
  .music-info {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    padding: 10px 10px 10px 150px;
    opacity: 0;
    transform: translateY(0%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    z-index: 0;
  }
  
  .music-container.play .music-info {
    opacity: 1;
    transform: translateY(-100%);
  }
  
  .music-info h4 {
    margin: 0;
  }
  
  .progress-container {
    background: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
  }
  
  .progress {
    background-color: rgb(60, 96, 239);
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
  }
  


/* CSS GRID */

  .container {  display: grid;
    grid-template-columns: 0.2fr 1.5fr 1.5fr;
    grid-template-rows: 0.9fr 1.8fr 0.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "nav content content"
      "nav content content"
      "nav content content";
  }
  
  .nav { grid-area: nav; }
  
  .content { grid-area: content; }
  