/* This defines the styling for entire body section of the webpage*/
body{

    /* All body text will be part of the below font family, which was also loaded in html*/
    /* This loads the fonts into the CSS, to actually apply them to the headings*/
    font-family: 'Hind', sans-serif;
    font-family: 'Poppins', sans-serif;
    /* The page will have 50px margins around it*/
    margin: 50px;
  }

  
  /* This sets the styling for the heading of the page*/
  .heading {
    /* This makes the content be sized appropriately to fit the space available in its flex container. */
    display: flex;
    flex-direction: row;
    /* The content will appear in the center of its div */
    justify-content: center;
  }


/* This styles the actual text of the heading*/
.heading-text {
    /* The font will have a size of 25 pixels*/
    font-size: 25px;
    /* The background colour will be white*/
    background-color: rgb(249, 163, 57);
    /* Padding is used to create space around the heading, inside of its defined borders. The top and bottom padding will be 10 pixels, and the left and right padding will be 30 pixels */
    padding: 10px 30px;
    /* The border of the div will be curved at a radius of 10 pixels*/
    border-radius: 10px;
    /* The margins create space around the entire element, allowing the design to breathe more*/
    margin: 30px;
  }
  


/* CSS GRID */
.container {  display: grid;
    /* This defines the number and the widths of columns within a grid layout. In this case, there are three columns specified*/
    grid-template-columns: 0.2fr 1.5fr 1.5fr;
    /* This defines the number and the heights of rows within a grid layout. */
    grid-template-rows: 0.9fr 1.8fr 0.3fr;
    /* This sets gap between rows and columns to 0px */
    gap: 0px 0px;
    /* property controls how auto-placed items get inserted in the grid. */
    grid-auto-flow: row;
    grid-template-areas:
      "nav content content"
      "nav content content"
      "nav content content";
  }
  
  /* Here, I styled the navigation bar */
  .nav { 
    grid-area: nav; 
    /* It will have a white background around the images */
    background: white;
    /* The top padding is set here */
    padding-top: 20px;
    /* The left padding is set here */
    padding-left: 10px;
    /* By creating a right margin of 50px, this creates space between the navigation bar and the rest of the content*/
    margin-right: 50px;
    /* The background of the div will have a 20px radius */
    border-radius: 20px;
  }
  
  
  
  .content { grid-area: content; }
  